<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.emdad">

    <!--
          The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
          Google Maps Android API v2, but you must specify either coarse or fine
          location permissions for the 'MyLocation' functionality.
     -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="com.emdad.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.emdad.permission.MAPS_RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />


    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <permission
        android:name="android.permission.CALL_PRIVILEGED"
        android:protectionLevel="signature|privileged" />

    <!--<uses-permission android:name="android.permission.READ_CALL_LOG" />-->
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!--  <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application

        android:name=".DriverApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name=".Shipdetails1"
            android:label="@string/title_activity_shipdetails1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Headerscan"
            android:label="@string/title_activity_headerscan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calls"
            android:label="@string/title_activity_calls"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Start123"
            android:label="@string/title_activity_start123"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Track"
            android:label="@string/title_activity_track"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Drshistorydetails"
            android:label="@string/title_activity_drshistorydetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Drshistorydetails123"
            android:label="@string/title_activity_drshistorydetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Status"
            android:label="@string/title_activity_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Canvas"
            android:label="@string/title_activity_canvas"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SimpleScannerActivity1"
            android:label="@string/title_activity_simple_scanner1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Mapss"
            android:label="@string/title_activity_map"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Stop"
            android:label="@string/title_activity_stop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Start"
            android:label="@string/title_activity_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SimpleScannerActivity"
            android:label="@string/title_activity_simple_scanner"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Drshistory1"
            android:label="DRS History"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Updateprofile"
            android:label="@string/title_activity_updateprofile"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Drshistory"
            android:label="@string/title_activity_drshistory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pickuphistory"
            android:label="@string/title_activity_pickuphistory"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pickuplist"
            android:label="@string/title_activity_pickuplist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Scanpickup"
            android:label="@string/title_activity_scanpickup"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ScanDrs"
            android:label="@string/title_activity_scan_drs"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Drslist"
            android:label="@string/title_activity_drslist"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Odometer1"
            android:label="@string/title_activity_odometer1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Odometer"
            android:label="@string/title_activity_odometer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Drsdetails"
            android:label="@string/title_activity_drsdetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shipdetails"
            android:label="@string/title_activity_shipdetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityDriver"
            android:label="On the way"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Save"
            android:label="@string/title_activity_save"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Calllog"
            android:label="@string/title_activity_calllog"
            android:theme="@style/AppTheme.NoActionBar" />

        <!--<service android:name=".TService" />-->
        <service
            android:name=".TrackerService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="4556" />

        <service android:name=".FirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".LocationHistoryService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.whatever.servicename.YOUR_ACTION_NAME" />
            </intent-filter>
        </service>
    </application>

</manifest>